/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

/* Geral */
body {
    padding: 0;
    margin: 0;
    font-family: Roboto, Arial, Helvetica;
    color: #000;
}

/* Estrutura Principal */
.container {
    width: 100%;
    height: auto;
}

.container .wrapper {
    width: 80%;
    margin: 0 auto;
}

/* Header */
#cabecalho {
    width: 100%;
    height: 100px;
    background: #3C5297;
    color: #fff;
}

/* Logo */
#logo {
    width: 25%;
    height: 100%;
    float: left;
    text-align: center;
    font-size: 24px;
}

#logo img {
    max-width: 100%;
    max-height: 75px;
    margin-top: 12px;
    transition: 0.15s;
}

#logo img:hover {
    padding-top: 2.5px;
    max-height: 70px;
    transition: 0.15s;
}

/* Menu Principal */
#menu {
    width: 50%;
    height: 100%;
    float: right;
    font-size: 18px;
    line-height: 62.5px;
    /*background: rgba(255, 255, 255, 0.40);*/
}

#menu ul {
    list-style: none;
}

#menu li {
    float: left;
    margin-left: 25px;
}

#menu li:first-child {
    margin-left: 0px;
}

#menu li a {
    color: #fff;
    padding: 8px 28px 8px 28px;
    background: transparent;
    border-radius: 22px;
    text-decoration: none;
    transition: 0.15s;
}

#menu li a:hover {
    color: #fff;
    padding: 8px 28px 8px 28px;
    border-radius: 22px;
    text-decoration: none;
    background: #8957e5;
    transition: 0.15s;
}

#menu .active {
    color: #fff;
    padding: 8px 28px 8px 28px;
    border-radius: 22px;
    background: #8957e5;
}

/* Rodapé */
#rodape {
    width: 100%;
    height: 250px;
    color: #fff;
    background: #182C6B;
    clear: both;
}

#rodape #logo {
    float: left;
    width: 25%;
    height: 100%;
    font-size: 40px;
}

#rodape #logo img {
    max-width: 100%;
    max-height: 215px;
    margin-top: 22.5px;
    transition: 0.15s;
}

#rodape #logo img:hover {
    max-height: 205px;
    transition: 0.15s;
}

#rodape #links-uteis {
    float: right;
    width: 70%;
    height: 100%;
}

#rodape #links-uteis ul {
    float: left;
    margin-left: 20px;
}

#rodape #links-uteis ul:first-child {
    margin-left: 0px;
}

/* Consultar Reserva  */
#consulta-reserva {}

#consulta-reserva #titulo {
    text-align: center;
    margin-bottom: 175px;
}

#img {
    width: 100%;
    height: auto;
    background-image: url(../img/img_codigo-reserva.png);
    background-position: center -174px;
    background-repeat: no-repeat;
    color: white;
    float: left;
}

#titulo {
    text-align: center;
    margin-bottom: 75px;
}

.form-wrapper {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 75px;
}

.form-wrapper-2 {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 25px;
}

#p-left {
    background-color: rgba(163, 0, 0, 0.8);
    width: 50%;
}

.p-left-padding {
    padding: 8%;
}

.rounded-text {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 15px;
  border: 1px solid white;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding: 8px;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
}

.rounded-text::-webkit-input-placeholder {
    color: #fff;
    text-transform: none;
}

.rounded-select {
    width: 92.5% !important;
    height: 35px;
    -webkit-appearance: none;
    -webkit-border-radius: 15px;
    border-radius: 17px;
    text-align-last: center;
    color: #fff;
}

.rounded-select option {
    color: #000;
}

.botao-enviar {
    width: 92.5%;
    margin: 0 auto;
    background-color: #8B51F4;
    border: 0;
    padding: 15px;
    border-radius: 22px;
    color: #fff;
    text-transform: capitalize;
    font-size: 16px;
    transition: 0.25s;
}

.botao-enviar:hover {
    cursor: pointer;
    background-color: #6f3ec9;
    transition: 0.25s;
}

#formu1 {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 100px;
}

@media screen and (min-width: 1240px) {
  #menu {
      width: 60%;
  }
}

@media screen and (min-width : 320px) and (max-width: 768px) {
    .container .wrapper {
        width: 100%;
    }
    
    #menu {
        width: 100%;
        background: #4a5d98;
    }

    #menu li {
        margin-left: 5px;
        float: none;
    }

    #menu li:first-child {
        margin-left: 6px;
    }

    #menu li a {
        width: 100%;
    }

    #logo {
        width: 100%;
    }

    #p-left {
        width: 100%;
    }

    #rodape {
        display: inline-block;
        height: auto;
    }

    #rodape #logo {
        width: 100%;
        float: none;
    }

    #rodape #links-uteis {
        width: 100%;
        float: none;
    }

    #rodape #links-uteis ul {
        margin-left: 0px;
        float: none;
    }

    #rodape #links-uteis ul li {
        margin: 0;
        padding: 0;
    }
}

@media only screen and (min-width : 768px) and (max-width : 1200px) {
    .container .wrapper {
        width: 100%;
    }

    #logo {
        width: 30%;
    }

    #menu {
        width: 70%;
        float: right;
    }

    #menu ul {
        float: right;
    }

    #menu li {
        margin-left: 10px;
    }

    #p-left {
        width: 80%;
    }

    #rodape #logo {
        margin-left: 5%;
        width: 20%;
    }

    #rodape #links-uteis {
        width: 75%;
        float: right;
    }
}

#form-registrar-consumo{
  margin: 0 auto;
  text-align: center;
  padding-bottom: 100px;


}

#p-left2 {
    background-color: rgba(137, 87, 229, 0.8);
    width: 50%;

}

 #img2{
        width: 100%;
        height: auto;
        background-image: url(../img/img_exibir-dados.png);
        background-position: center -174px;
        background-repeat: no-repeat;
        color: white;
        float: left;
        background-size: cover;
        background-position: center 0px;

  }
  .botao-enviar-registrar-consumo {
      width: 92.5%;
      margin: 0 auto;
      background-color: #A30000;
      border: 0;
      padding: 15px;
      border-radius: 22px;
      color: #fff;
      text-transform: capitalize;
      font-size: 16px;
      transition: 0.25s;
  }
  .botao-enviar-registrar-consumo:hover {
      cursor: pointer;
      background-color: #8B0000;
      transition: 0.25s;
  }